CompileFlags:
  Add: [
    -std=c++23,
    "-isystem/nix/store/bg4p430r54h709bxganq13npw8b1pbab-clang-wrapper-21.1.0-rc3/resource-root/include",

    "-isystem/nix/store/jxx6k4rqv4bygf1v8rm62hrl5dw91riw-gcc-arm-embedded-14.3.rel1/bin/../lib/gcc/arm-none-eabi/14.3.1/../../../../arm-none-eabi/include/c++/14.3.1",
    "-isystem/nix/store/jxx6k4rqv4bygf1v8rm62hrl5dw91riw-gcc-arm-embedded-14.3.rel1/bin/../lib/gcc/arm-none-eabi/14.3.1/../../../../arm-none-eabi/include/c++/14.3.1/arm-none-eabi/thumb/v7-a+simd/hard",
    "-isystem/nix/store/jxx6k4rqv4bygf1v8rm62hrl5dw91riw-gcc-arm-embedded-14.3.rel1/bin/../lib/gcc/arm-none-eabi/14.3.1/../../../../arm-none-eabi/include/c++/14.3.1/backward",
    "-isystem/nix/store/jxx6k4rqv4bygf1v8rm62hrl5dw91riw-gcc-arm-embedded-14.3.rel1/bin/../lib/gcc/arm-none-eabi/14.3.1/include",
    "-isystem/nix/store/jxx6k4rqv4bygf1v8rm62hrl5dw91riw-gcc-arm-embedded-14.3.rel1/bin/../lib/gcc/arm-none-eabi/14.3.1/include-fixed",
    "-isystem/nix/store/jxx6k4rqv4bygf1v8rm62hrl5dw91riw-gcc-arm-embedded-14.3.rel1/bin/../lib/gcc/arm-none-eabi/14.3.1/../../../../arm-none-eabi/include"
  ]
  Remove: [ -isystem*, --std=gnu++23, -mfp16-format=ieee ]
  Compiler: /nix/store/mdv0j8ba274fdckqvjw0vrhjiv5zwlih-clang-21.1.0-rc3/bin/clang
